/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*font-family: 'Varela Round', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Varela+Round&display=swap');
/*font-family: 'Contrail One', cursive;*/


body{
    height: 100%;
    width: 100%;
    background-color: #313131;
}

main{
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

.menu-principal{
    width: 100%;
    height: 120px;
    background-color: #1f1f1f;

}

.logo{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.header{
    background-color: #1f1f1f;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-bar{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
.nav-bar a{
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    color: rgb(204, 204, 204);
}
.nav-bar a:hover{
    color: rgb(179, 30, 30);
    border-bottom: 1px solid rgb(179, 30, 30);
    
}
.nav-bar ul li{
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}

.redes-sociais ul li{
    list-style: none;
    display: inline-flex;
    float: right;
    padding: 10px;
    
}

.redes-sociais img{
    height: 40px;
    width: 40px;
}